<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1> Trip Title : <%= trip.TripTitle%></h1> <br/>
    <p> Date: <%= trip.Date%></p><br />
    <p> Price : <%= trip.Price %></p><br />
    <p> Time : <%= trip.Time%></p><br />
    <p> Description : <%= trip.Description%></p>
    <img src= <%= trip.ImageUrl %> /> 
    <a href="/trips"> back</a>
</body>
</html>